$header-bar-bg-color: #00A99D;
$header-bar-text-color: #FFFFFF;
$header-bar-tab-hover-bg-color: #029385;
$header-bar-tab-active-bg-color: #007F76;
$full-image-shade-color: rgba(0, 0, 0, 0.7);
$full-image-container-bg-color: #FFFFFF;
